<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CK2_Extended_Millennia.Properties.Settings.CK2_Extended_MillenniaConnectionString"
            connectionString="Data Source=DESKTOP-CN19HT5\SQLEXPRESS;Initial Catalog=CK2_Extended_Millennia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>